@charset "utf-8";

@font-face {
	font-family: 'adiNeue';
	src: url('../fonts/black/adiNeue-Bold.eot');
	src: url('../fonts/black/adiNeue-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/black/adiNeue-Bold.woff2') format('woff2'),
		url('../fonts/black/adiNeue-Bold.woff') format('woff'),
		url('../fonts/black/adiNeue-Bold.ttf') format('truetype'),
		url('../fonts/black/adiNeue-Bold.svg#adiNeue-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'adineue PRO';
	src: url('../fonts/bold/adineuePRO-Black.eot');
	src: url('../fonts/bold/adineuePRO-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bold/adineuePRO-Black.woff2') format('woff2'),
		url('../fonts/bold/adineuePRO-Black.woff') format('woff'),
		url('../fonts/bold/adineuePRO-Black.ttf') format('truetype'),
		url('../fonts/bold/adineuePRO-Black.svg#adineuePRO-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}


@font-face {
  	font-family: 'adineuePROCond-Regular';
  	src: url('../fonts/bold/adineuePROCond-Regular.eot') format('embedded-opentype');
  	src: url('../fonts/bold/adineuePROCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/adineuePROCond-Regular.woff') format('woff'),
        url('../fonts/bold/adineuePROCond-Regular.ttf') format('truetype'),
        url('../fonts/bold/adineuePROCond-Regular.svg#anthembold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
  	font-family: 'AdihausDIN-CnMedium';
  	src: url('../fonts/bold/AdihausDIN-CnMedium.eot') format('embedded-opentype');
  	src: url('../fonts/bold/AdihausDIN-CnMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/AdihausDIN-CnMedium.woff') format('woff'),
        url('../fonts/bold/AdihausDIN-CnMedium.ttf') format('truetype'),
        url('../fonts/bold/AdihausDIN-CnMedium.svg#anthembold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf';
	src: url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.eot');
	src: url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.eot?#iefix') format('embedded-opentype'),
		url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.woff2') format('woff2'),
		url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.woff') format('woff'),
		url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.ttf') format('truetype'),
		url('../fonts/cond/Qkrakjpsolxwviuvtyxvpzwixyf.svg#Qkrakjpsolxwviuvtyxvpzwixyf') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
  	font-family: 'adineuePROCond-Bold';
  	src: url('../fonts/bold/adineuePROCond-Bold.eot') format('embedded-opentype');
  	src: url('../fonts/bold/adineuePROCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/adineuePROCond-Bold.woff') format('woff'),
        url('../fonts/bold/adineuePROCond-Bold.ttf') format('truetype'),
        url('../fonts/bold/adineuePROCond-Bold.svg#anthembold') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
    font-family:'adineue PRO Cond Light';
    src: url('../fonts/light/adineue PRO Cond Light.eot');
	src: url('../fonts/light/adineue PRO Cond Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/light/adineue PRO Cond Light.woff2') format('woff2'),
		url('../fonts/light/adineue PRO Cond Light.woff') format('woff'),
		url('../fonts/light/adineue PRO Cond Light.svg#adineue PRO Cond Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-F8FF;
}

a, a:hover {
	color: #000;
}

p {
	vertical-align: middle;
}

li {
	display: inline;
}

ul {
	padding:0;
}

html {
	height: 100%;
}

body {
    opacity: 1;
    transition: 1s opacity;
    background-color: #fff;
}
body.fade-out {
    opacity: 0;
    transition: none;
}

input, textarea {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -webkit-touch-callout: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

::-webkit-scrollbar { 
    display: none; 
}

#landing-page {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}

#header-steps {
	padding:0;
}

#header-bar {
    height: auto;
    background: none;
    float: left;
    width: 100%;
    height: 97px;
	background: url(../img/header-bg.png) repeat-x;
	background-repeat: repeat-x;
}

#header-bar-shop {
    height: auto;
    background: none;
    float: left;
    width: 100%;
    height: 48px;
	background: url(../img/header-bg.png) repeat-x;
	background-repeat: repeat-x;
}

#header-bar-welcome {
    height: auto;
    background: none;
    float: left;
    width: 100%;
}

#header-filler {
	height: 15px;
	background: url(../img/header-bg.png) repeat-x;
	background-repeat: repeat-x;
	opacity: 0.6;
	display: none;
}

#add-card-steps .arrow_box, #add-card-steps .arrow_box_last {
	width: 50%;
}

.arrow_box {
	position: relative;
	height: 4px;
	width: 16.4%;
	font-family: 'adineuePROCond-Regular';
	font-size: 35px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	float:left;
	margin:0 0 0 -10px;
}

.arrow_box_last {
	position: relative;
	height: 4px;
	width: 16.4%;
	font-family: 'adineuePROCond-Regular';
	font-size: 35px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
	float:left;
	margin-left:-10px;
}

.active .arrow_box {
	background-color: #007eff;
}

.active .arrow_box:after {
	border-left-color: #007eff;
}

.active .arrow_box_last:after {
	border-left-color: #007eff;
}

.active .arrow_box_last {
	background-color: #007eff;
}

.arrow_box_last:after, .arrow_box_last:before {
	/*left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;*/
	display: none;
}

.arrow_box:after {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000;
	border-width: 30px;
	margin-top: -30px;
}

/* .arrow_box:hover:after {
	border-left-color: #ff3838;
} */

.last:before {
	border-left-color: #000;
}

.arrow_box:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 36px;
	margin-top: -36px;
}

#step1 {
	z-index: 10;
}

#step2 {
	z-index: 9;
    margin-left: -200px;
    width: 32.6%;
}

#step3 {
	z-index: 8;
	margin-left: -200px;
    width: 32.6%;
}

#step4 {
	z-index: 7;
	margin-left: -200px;
    width: 30.6%;
}

#step5 {
	z-index: 6;
	margin-left: -200px;
    width: 32.6%;
}

#step6 {
	z-index: 5;
	width: 405px;
	margin-left: -200px;
    width: 34.1%;
}

.active #step2_card {
	width: 660px;
}

.active #step6 {
	width: 405px;
}

#step2_card {
	/*padding-left: 300px;*/
	margin-left: -630px;
    width: 100%;
    padding-left: 0;
    width: 100% !important;
}

.header-image-logo-welcome {
    height: 98px;
    width: 300px;
    background-image: url(../img/adidas-3stripes-logo.svg);
    background-repeat: no-repeat;
    background-size: 300px 98px;
    margin: 60px auto 0px auto;
    float:none;
    padding: 0px;
}

.header-image-logo {
    height: 78px;
    width: 230px;
    background-size: 300px 98px;
    margin: 10px auto;
    float:left;
    padding: 0px;
    background-color: #000;
    -webkit-mask-image: url(../img/adidas-3stripes-logo.svg);
    mask-image: url(../img/adidas-3stripes-logo.svg);
}

.header-home-button a {
	padding:1px 5px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 24px;
	float: right;
	margin-top:34px;
	margin-right: 20px;
	-moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 900;
}

.header-home-button a:hover {
	text-transform: none;
	text-decoration: none;
}

.header-home-button-shop a {
	padding:1px 5px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 24px;
	float: right;
	margin-top:8px;
	margin-right: 20px;
	-moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: 900;
}

.header-home-button-shop a:hover {
	text-transform: none;
	text-decoration: none;
}

.content-wrapper {
	min-height:100px;
	height: auto;
	width:70%;
	margin:50px auto;
}

.content-wrapper #left {
	width: 70%;
	min-height: 200px;
	background-color: blue;
	float:left;
	display: none;
}

.content-wrapper #right {
	width: 20%;
	min-height: 200px;
	float:right;
	display: none;
}

.content-wrapper #right button {
	height: 200px;
	width:100%;
	border:0;
	background-color: #000;
	cursor: pointer;

	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 40px;
}

.content-wrapper #right button a {
	color: #fff;
	text-decoration: none;
	display: block;
}

.content-wrapper #right button:focus {
	outline: none;
}

#tab-step1 {
	padding-top:30px;
}

#tab-step2 {
	padding-top:30px;
}

#tab-step3 {
	padding-top:30px;
}

#tab-step4 {
	padding-top:30px;
}

#tab-step5 {
	padding-top:10px;
}

#tab-step6 {
	padding-top:50px;
}

.tab-pane {
    height: auto;
    max-height: 638px;
    display: none; /*on dev mode set to inline-block*/
}

/*.tab-content>.tab-pane {
	display: inline;
 }*/

.tab-content {
    padding-left: 15px;
}

#step1-content-wrapper,
.step2-content-wrapper {
	max-width: 1000px;
	min-height: 170px;
	height: auto;
}

#step1-content-wrapper input[type="text"],#step1-content-wrapper input[type="password"],#step1-content-wrapper input[type="number"],#step1-content-wrapper input[type="email"],#step1-content-wrapper input[type="number"], .step1-content-wrapper input[type="text"],.step1-content-wrapper input[type="password"],.step1-content-wrapper input[type="number"] {
	width: 100%;
	height: 50px;
	/*margin-bottom: 20px;*/
	border-bottom: 1px solid #000000;
	border-top: none;
	border-left: none;
	border-right: none;
	background: none;
	padding-left:5px;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #000;
	text-transform: none;
    padding-bottom:0px;
    border-radius: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #007eff;
  -webkit-text-fill-color: black;  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

#step1-content-wrapper input[type="date"],
.step1-content-wrapper input[type="date"] {
	padding-top:10px;
	width: 100%;
	height: 40px;
	margin-bottom: 0;
	border: 1px solid #ddd;
	background-color: #fff;
	padding-left:10px;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	font-size: 25px;
	background: url('../img/date.gif') no-repeat right #fff;
	color: #b0b0b0;
    content: attr(placeholder) !important;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.province-select {
	margin-bottom: 0px !important;
	margin-top: 5px;
}

#step1-content-wrapper input[type="text"]:focus,#step1-content-wrapper input[type="password"]:focus,#step1-content-wrapper input[type="date"]:focus,
.step1-content-wrapper input[type="text"]:focus,.step1-content-wrapper input[type="password"]:focus,.step1-content-wrapper input[type="date"]:focus {
	outline: none;
}

#step-label label {
	color: #b0b0b0;
	width: 100%;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 32px;
	text-align: right;
	margin-right: 0;
	padding: 0px 0;
	margin-top: 0px;
	text-transform: uppercase;
}

.back-btn-999 {
	padding: 0px;
	margin-top: 0px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #007eff;
	font-weight: bold;
	float: left;
    margin: 0 20px;
}

.anchor-button {
	padding: 0px;
	margin-top: 0px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #007eff;
	font-weight: 900;
}

/*.anchor-button-add-card {
	background-color: #000;
	padding: 10px 40px;
	text-align: center;
	height: 61px;
	width:400px;
	margin-top: 0px;
	font-family: "adihaus_psmd", arial;
	font-size: 30px;
	color: #fff;
	position: absolute;
	margin-top:20px;
}

.anchor-button-add-card:hover {
	text-decoration: none;
	color: #fff;
}*/

.add-card-p {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 30px;
	color: #000;
}

.right-align {
	margin-left: 193px;
}

.set_height {
	height: 100px;
}

.add_manual_text {
	font-size: 16px;
	margin-left: 420px;
}

.anchor-button:hover {
	color: #000;
	text-decoration: none;
}

#checking-status {
	height: 100px;
	width: auto;
	margin:100px 0 0 0;
	text-align: center;
    padding: 0px;
}

#checking-status h1,#checking-status img {
	display: inline;
	vertical-align: middle;
}

#checking-status h1 {
	text-transform: uppercase;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #007eff;
	font-size: 50px;
	font-weight: 900;
}

#checking-status-text {
	height: auto;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	display: block;
}

#checking-status-text h2 {
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 30px;
	display: inline-block;
	margin:0;
	line-height: 35px;
	text-transform: uppercase;
}

#checking-status-text h2 a {
	color: #000;
}

.input-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

.styled-select {
	width: 100%;
	height: 46px;
	overflow: hidden;
	background: url('../img/arrow.gif') no-repeat right #fff;
	/*border: 1px solid #d0cec8;
	border-radius: 3px;
	 margin: 20px auto; 
	border: 2px solid #ddd;*/
	background-color: #fff;
}

.styled-select select {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 1px solid #ddd;
	height: 46px;
	-webkit-appearance: none;
	color: #999999;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	font-size: 25px;
	cursor: pointer;
}

.styled-select select:focus {
	outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
	width: 339px;
	height: 29px;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #999;
	content:none;
}

#input-small {
    height: 50px;
    padding: 10px;
    border: 1px solid #cdcdcd;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 0 66px;
    width: 34%;
}


/*#input-small h3 {
	display: inline;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-weight: 500;
}*/

/*#input-small label {
	height: 40px;
	width: 100%;
	display: inline;
	text-align: left;
	color: #999;
	cursor: pointer;
	border: 2px solid #ddd;
	background-color: #fff;
	padding: 15px 32px;
	-moz-box-shadow: inset -3px -3px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: inset -3px -3px 0 rgba(0,0,0,.26);
	box-shadow: inset -2px -2px 0 rgba(0,0,0,.26);
}*/


row {
	margin: 5px auto;
	width: 100%;
	float: left;
}
/*.button a {
	color: #fff;
	font-family: "Adihaus_psbd";
	text-decoration: none;
	display: block;
	font-size: 48px;
	text-align: center;
	line-height: 48px;
}*/

#landing-page-body h1 {
	font-family: 'adiNeue', Arial, Helvetica, sans-serif; 
	font-size: 45px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin: 2em auto;
	font-weight: 900 !important;
	width: 545px;
}

/*div#landing-page-body {
	margin-right: auto;
    margin-left: auto;
    padding-left: 65px !important;
    padding-right: 65px !important;
}*/

#landing-page-buttons {
	max-width: 700px;
}

#landing-page-buttons .button.top {
	background-color: rgba(255,255,255,.7);
	height: 85px;
	width: 80%;
	padding-top: 20px;
	margin: 30px auto !important;
}

#landing-page-buttons .button.top:hover, #landing-page-buttons .button.top:focus {
	background-color: rgba(0,0,0,.7);
	height: 85px;
	width: 80%;
	padding-top: 20px;
	margin: 30px auto !important;
}

#landing-page-buttons .button.left {
	background-color: rgba(0,0,0,.7);
	height: 75px;
	width: 79%;
	padding-top: 15px;
}

#landing-page-buttons .button.right {
	background-color: rgba(0,0,0,.7);
	height: 75px;
	width: 79%;
	padding-top: 15px;
}

#landing-page-buttons .button.left:hover, #landing-page-buttons .button.left:focus, #landing-page-buttons .button.right:hover, #landing-page-buttons .button.right:focus {
	background-color: rgba(255,255,255,.7);
	height: 75px;
	width: 79%;
	padding-top: 15px;
}

.button.top a {
	color: #000;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	font-size: 48px;
	text-align: center;
	line-height: 48px;
	z-index: 9999;
	opacity: 1;
	padding: 19px 0 18px 0;
    margin: -20px 0;
    font-weight: 900;
}

.button.top a:hover {
	color: #fff;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	font-size: 48px;
	text-align: center;
	line-height: 48px;
	z-index: 9999;
	opacity: 1;
	padding: 19px 0 18px 0;
    margin: -20px 0;
    font-weight: 900;
}

.button.left a {
	color: #fff;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	font-size: 28px;
	text-align: center;
	line-height: 48px;
	z-index: 9999;
	opacity: 1;
	font-weight: 900;
	padding: 20px 0 17px 0;
    margin: -20px 0;
}

.button.right a {
	color: #fff;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	font-size: 28px;
	text-align: center;
	line-height: 48px;
	z-index: 9999;
	opacity: 1;
	font-weight: 900;
	padding: 20px 0 17px 0;
    margin: -20px 0;
}

.button.left a:hover, .button.left a:focus, .button.right a:focus, .button.right a:hover  {
	color: #000;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-decoration: none;
	display: block;
	font-size: 28px;
	text-align: center;
	line-height: 48px;
	z-index: 9999;
	opacity: 1;
	font-weight: 900;
	padding: 20px 0 17px 0;
    margin: -20px 0;
}

.right {
	float:right;
}

.text-danger {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #ff3838;
	font-size: 15px;
	margin-left: 5px;
	margin-bottom: 2px;
}

.right-wrapper {
	text-align: right;
}

.glyphicon-cog {
	color: #999;
	font-size: 25px;
	position: absolute;
	top: 450px;
	right: 32px;
	opacity: 0.3;
	-moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.glyphicon-cog:focus,.glyphicon-cog:hover {
	opacity: 1;
}

#front-page-settings {
	height: 50px;
	width: 200px;
	background-color: #999;
	position: absolute;
	top: 436px;
	right: 70px;
	display: none;
	padding:5px;
}

#front-page-settings input {
	width: 190px;
	height: 40px;
	border: 0;
	padding-left: 10px;
	font-size: 30px;
	color: #999;
}

#front-page-settings input:focus {
	outline: none;
}

#step6-content-wrapper {
	max-width: 880px;
}

#step-button {
    float: right;
    margin: -30px 25px;
    text-align: right;
}
#back-button {
    float: left;
    margin: 0 14px;
    text-align: left;
}

#step5-next-button div {
	width: 100%;
	padding:20px;
	background-color: #000;
}

.centered {
	text-align: center;
}

#step6-content-wrapper h1 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 35px;
	line-height: 70px;
	text-transform: uppercase;
	font-weight: 900;
}

#step1-content-wrapper h3 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 24px;
	line-height: normal;
	text-transform: uppercase;
	font-weight: 900;
}

#step1-content-wrapper p {
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
}

#step6-content-wrapper p {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 25px;
	line-height: 40px;
	display: inline;
	margin-right:20px;
}

#step6-next-button {
	display: block;
	padding: 10px 0 10px 0;
	margin: 0 auto;
	text-align: right;
	color: #007eff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 29px;
	font-weight: 900;
}


#accept-terms-and-conditions label {
	width: 25%;
	margin: 0px 0 30px 0 ;
}

#accept-terms-and-conditions {
	margin-top: 25px;
	text-align: center;
}

#accept-terms-and-conditions a {
	color: #000;
	text-decoration: underline;
}

.comms-preferences {
	float:left;
	
}

.originals {
	width: 312px;
	background-image: url(../img/originals_button2.jpg);
	background-repeat: no-repeat;
	background-color: green;
	cursor: pointer;
	padding-left: 29px;
	padding-top: 26px;
	height: 65px;
}

.performance {
	width: 409px;
	background-image: url(../img/performance_button2.jpg);
	background-repeat: no-repeat;
	background-color: red;
	cursor: pointer;
	margin-left: 18px;
	padding-left: 32px;
	padding-top: 26px;
	height: 65px;
}

#sport_other {
	border: 2px solid #ddd;
	background-color: #fff;
	-moz-box-shadow: inset 3px 3px 0 rgba(0,0,0,.26);
	-webkit-box-shadow: inset 3px 3px 0 rgba(0,0,0,.26);
	box-shadow: inset 3px 3px 0 rgba(0,0,0,.26);
	padding-left: 8px; 
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 25px;
	width: 225px;
	margin-left: -53px;
	margin-top: 10px;
}

#sport_other:focus {
	outline: none;
}

.screensaver {
	min-height: 800px;
	height: auto;
	width: 100%;
	position: absolute;
	background-color: #000;
	z-index: 9999;
	display: none;
}

.screensaver img {
	position: absolute;
	z-index:1;
	left:0;
  right:0;
  bottom:0;
  margin:auto;
  max-width: 100%;
  height: auto;
}

/*.
.screensaver img.active {
	position: absolute;
	z-index:3;
	left:0;
  right:0;
  bottom:0;
  margin:auto;
}*/

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.wifi-icon {
	height: 18px;
	width: 18px;
	bottom:50px;
	left:20px;
	position: absolute;
	background-repeat: no-repeat;
}

.red-wifi {
	background-image:url(../img/wifi-red.png);
}

.green-wifi {
	background-image:url(../img/wifi-green.png);
}

#landing-page-congratulations h1 {
	font-family: "adineue PRO",Arial;
	font-size: 58px;
	text-align: center;
	margin-top:240px;
	font-weight: 900;
  	color: rgb(0, 0, 0);
  	text-transform: uppercase;
  -moz-transform: matrix( 1.23530101446634,0,0,1.23530101446634,0,0);
  -webkit-transform: matrix( 1.23530101446634,0,0,1.23530101446634,0,0);
  -ms-transform: matrix( 1.23530101446634,0,0,1.23530101446634,0,0);
  	text-shadow: 0px 0px 50px rgba(167, 210, 255, 0.6);
}

#landing-page-congratulations p {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 30px;
	text-align: center;
	width: 555px;
	margin: 32px auto;
}

#landing-page-not-connected h1 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #007eff;
	font-size: 45px;
	text-align: center;
	margin-top:190px;
	font-weight: 900;
}

#landing-page-not-connected p {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 30px;
	text-align: center;
	width: 555px;
	margin: 32px auto;
	padding: 20px 0;
}

#member-exists h1 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	color: #007eff;
	font-size: 50px;
	text-align: center;
	margin-top:100px;
	margin-left:0;
	font-weight: 900;

}

#member-exists p {
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 24px;
	text-align: center;
	width: 700px;
	margin: 32px auto;
	padding: 20px 0;
	text-transform: uppercase;
}

#member-exists a {
	color: inherit;
	text-decoration: underline;
}

#modalLink {
	display: none;
}

#modalLinkadmin {
	display: none;
}

#storeid {
	height: 50px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding-left: 5px;
	color: #000;
	width: 100%;
}

.modal-content {
	background-color: #000;
	border-radius: 0;
	color: #fff;
	margin-top: 130px;
}

.modal-header {
	padding: 15px;
	border-bottom: 0;
	
}

.modal-title {
	font-family: "adineuePROCond-Bold", Arial, Helvetica, sans-serif;
	font-size: 40px;
}

.modal-footer {
	/* margin-top: 15px; */
	padding: 0px 20px 20px;
	text-align: left;
	border-top: 0;
}

.modal-header .close {
	margin-top: -2px;
	color: #fff;
	opacity: 1;
}

#close_settings {
	border-radius: 0;
	padding: 10px 30px;
	background-color: #428bca;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 30px;
	width:100%;
	border:0;
	color: #fff;
}

#exit_app, #exit_app_admin {
	border-radius: 0;
	padding: 10px 30px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 30px;
	width: 100%;
	padding: 20px;
	border:0;
	transition:0.2s;
	background-color: #ff3838;
	width: 100%;
}

.longbody {
	height:1000px;
	overflow: hidden;
}

#myID {
	bottom: 0;
	position: absolute;
}

div#exit-app {
	margin-top: 60px;
	padding: 20px;
}

.modal-body h2 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
}

#screensaver_warning .modal-content {
	padding:50px;
}

#screensaver_warning .modal-dialog.modal-sm {
	width: 50%;
}

#hidden-text-input {
	display: none;
}

.manual-entry {
	margin-top: 40px;
	padding: 0
}

#tab-step6 img {
	margin: 0 auto;
	padding: 0px;
}

#step6-buttons {
	min-height: 20px;
	height: auto;
	max-width: 600px;
	margin-top: 30px;
}

.anchor-button-add-card {
	display: block;
	color: #007eff;
}

.add_manual_text {
	/* font-size: 16px; */
	 margin: 0 auto; 
}

#step6-next-button {
	display: block;
	padding: 10px 0 10px 0;
	margin: 0 auto;
	text-align: right;
	color: #007eff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 29px;
	font-weight: 900;
}

#step6-next-button-cancel {
	display: block;
	padding: 10px 0 10px 0;
	margin: 0 auto;
	text-align: left;
	color: #007eff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 29px;
	font-weight: 900;
}

#step6-next-button:hover, #step6-next-button-cancel:hover,#step6-next-button:focus, #step6-next-button-cancel:focus {
	text-decoration: none;
}

.add_manual_text, .add_manual_text a {
	font-size: 24px;
	margin-left: 420px;
	text-align: center;
	padding-top: 20px;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
	margin:0 auto;
	font-weight: normal;
	text-transform: uppercase;
	color: #000000;
}

.add_manual_text a {
	text-decoration: underline;
}

#screensaver_warning h1#countdown-timer {
	min-height: 60px;
	height: auto;
	color: #007eff;
	text-align: center;
	font-size: 50px;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	margin:0 auto;
}

#screensaver_warning h1 {
	font-size: 30px;
	color: #007eff;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0px;
}

.modal-dialog {
	width: 490px;
}

#screensaver_warning .modal-content {
	background-color: yellow;
	min-height: 50px;
	height: auto;
	width: 458px;
	margin:0 auto;
	padding:30px;

	background: #ffffff; /* Old browsers */
	/*background: -moz-linear-gradient(left,  #cccccc 0%, #ffffff 51%, #cccccc 100%);*/
	/*background: -webkit-linear-gradient(left,  #cccccc 0%,#ffffff 51%,#cccccc 100%);*/ /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(left,  #cccccc 0%,#ffffff 51%,#cccccc 100%);*/ /* Opera 11.10+ */
	/*background: -ms-linear-gradient(left,  #cccccc 0%,#ffffff 51%,#cccccc 100%);*/ /* IE10+ */
	/*background: linear-gradient(to right,  #cccccc 0%,#ffffff 51%,#cccccc 100%);*/ /* W3C */

}

#screensaver_warning .modal-content {
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);
	box-shadow: 0 0px 0px rgba(0,0,0,.5);
}

#screensaver_warning p {
	font-size: 18px;
	color: #000000;
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	text-align: center;
	margin:0;
}

#screensaver_warning .modal-wrapper {
	background: url( '../img/modal-bg-trans.png' ) repeat 0 20%;
	padding:15px;
	min-height: 50px;
	height: auto;
}

#screensaver_warning .modal-dialog {
margin-top: 200px;
}

#name, #surname {
	text-transform: capitalize;
}

#terms_and_conditions .modal-dialog {
	width:60%;
	background-color: #fff;
	max-height: 700px;
	overflow: scroll;
	border-radius:5px;
}

#terms_and_conditions .modal-wrapper {
	margin: 0 auto;
	padding:40px;
}

#terms_and_conditions h1 {
	font-family: 'anthembold';
	font-size: 40px;
	color: #000;
	margin-top:0;
}

#terms_and_conditions h2 {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
}

#terms_and_conditions p {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000;
}

#terms_and_conditions ul, #terms_and_conditions li {
	font-family: 'adineue PRO', Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000;
	
	
	height: auto;
}

#terms_and_conditions ul {
	padding-left:20px;
}

#terms_and_conditions li {
	list-style-type: disc;
	display: list-item;
}

.admin_loading_screen {
	height: 110px;
	display: block;
}

.admin_stores_screen {
	height: 110px;
	display: none;
}

#admin_settings_admin .modal-body {
	padding: 0 20px;
}

.admin_loading_screen {
	font-family: 'anthembold';
	font-size: 30px;
}



/*
==========================================================================
BROCHURE SECTION START
==========================================================================
*/

#brochure {
	background-color: #000;
	background-image: none;
	display: none;
}

.brochure_wrapper {
	height: 798px;
	width: 25600px;
	position: absolute;
	left:0;
	top:-20px;
}

.brochure_wrapper  section {
	float:left;
	height:798px;
	width:1280px;
}

.wrapper {
	width: 1280px;
	height: 100%;
	margin:0 auto;
}

.brochure_arrow_left, .brochure_arrow_right {
	width: 50px;
	height: 100%;
	position: fixed;
	float:left;
	cursor: pointer;
	z-index: 100;
}

.brochure_arrow_left {
	left:0;
	background-image: url(../img/brochure/left_arrow.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.brochure_arrow_right {
	right:0;
	background-image: url(../img/brochure/right_arrow.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.brochure_wrapper img, .img_btn {
	cursor: pointer;
}

.img_btn {
	display: none;
	position: relative;
}

.get_the_gear, .mens_training, .womans_training {
	position: relative;
	height: 40px;
}

.get_the_gear{
	width: 175px;
}

.mens_training{
	width: 146px;
}

.womans_training{
	width: 230px;
}

#slide_1 .wrapper {
	background-image: url(../img/brochure/slide_1.jpg);
}

#slide_1 .mens_training {	
	top: 268px;
	left: 198px;
}

#slide_1 .womans_training {
	top: 423px;
	left: 856px;
}

#slide_2 .wrapper {
	background-image: url(../img/brochure/slide_2.jpg);
}

#slide_2 .get_the_gear {
	top: 350px;
	left: 223px;	
}

#slide_2 .btn_1 {
	height: 119px;
	width: 159px;
	left: 1020px;
}

#slide_2 .btn_2 {
	height: 99px;
	width: 159px;
	left: 1020px;
}

#slide_2 .btn_3 {
	height: 97px;
	width: 159px;
	left: 1020px;	
}

#slide_2 .btn_4 {
	height: 100px;
	width: 159px;
	left: 1020px;	
}

#slide_2 .btn_5 {
	height: 119px;
	width: 251px;
	left: 102px;
	top: 188px;
}

#slide_2 .btn_6 {
	height: 119px;
	width: 251px;
	left: 385px;
	top: 69px;
}

#slide_3 .wrapper {
	background-image: url(../img/brochure/slide_3.jpg);
}

#slide_3 .get_the_gear {
	top: 257px;
	left: 488px;
}

#slide_3 .btn_1 {
	height: 35px;
	width: 217px;
	background-color: red;
	left: 1020px;
	top: -1px;
}

#slide_3 .btn_2 {
	height: 41px;
	width: 336px;
	left: 84px;
	top: 518px;
}

#slide_3 .btn_3 {
	height: 123px;
	width: 116px;
	left: 84px;
	top: 543px;
}

#slide_3 .btn_4 {
	height: 125px;
	width: 129px;
	left: 199px;
	top: 420px;
}

#slide_3 .btn_5 {
	height: 41px;
	width: 336px;
	left: 337px;
	top: 295px;
}

#slide_4 .wrapper {
	background-image: url(../img/brochure/slide_4.jpg);
}

#slide_4 .get_the_gear {
	top: 440px;
	left: 612px;
}

#slide_4 .second_gear_icon {
	top: 80px;
	left: 66px;
}

#slide_4 .btn_1 {
	height: 130px;
	width: 107px;
	left: 85px;
	top: 202px;
}

#slide_4 .btn_2 {
	height: 131px;
	width: 120px;
	left: 205px;
	top: 72px;
}

#slide_4 .btn_3 {
	height: 41px;
	width: 322px;
	left: 88px;
	top: 178px;
}

#slide_4 .btn_4 {
	height: 37px;
	width: 217px;
	left: 1023px;
	top: -346px;
	background-color: red;
}

#slide_5 .wrapper {
	background-image: url(../img/brochure/slide_5.jpg);
}

#slide_5 .get_the_gear {
	top: 316px;
	left: 612px;
}

#slide_5 .btn_1 {
	height: 40px;
	width: 314px;
	left: 45px;
	top: 121px;
}

#slide_5 .btn_2 {
	height: 40px;
	width: 214px;
	left: 1025px;
	top: -43px;
	background-color: red;
}

#slide_6 .wrapper {
	background-image: url(../img/brochure/slide_6.jpg);
}

#slide_6 .get_the_gear {
	top: 423px;
	left: 675px;
}

#slide_6 .btn_1 {
	height: 40px;
	width: 214px;
	left: 1025px;
	top: 40px;
	background-color: red;
}

#slide_6 .btn_2 {
	height: 40px;
	width: 348px;
	left: 891px;
	top: 76px;
}

#slide_6 .btn_3 {
	height: 104px;
	width: 88px;
	left: 85px;
	top: 390px;
}

#slide_6 .btn_4 {
	height: 104px;
	width: 88px;
	left: 178px;
	top: 286px;
}

#slide_6 .btn_5 {
	height: 104px;
	width: 88px;
	left: 271px;
	top: 182px;
}

#slide_6 .btn_6 {
	height: 104px;
	width: 88px;
	left: 365px;
	top: 78px;
}

#slide_7 .wrapper {
	background-image: url(../img/brochure/slide_7.jpg);
}

#slide_7 .get_the_gear {
	top: 506px;
	left: 1008px;
}

#slide_7 .btn_1 {
	height: 40px;
	width: 214px;
	left: 1025px;
	top: 0px;
	background-color: red;
}

#slide_7 .btn_2 {
	height: 40px;
	width: 348px;
	left: 88px;
	top: 545px;
}

#slide_7 .btn_3 {
	height: 118px;
	width: 108px;
	left: 91px;
	top: 559px;
}

#slide_8 .wrapper {
	background-image: url(../img/brochure/slide_8.jpg);
}

#slide_8 .get_the_gear {
	top: 506px;
	left: 523px;
}

#slide_8 .btn_1 {
	height: 40px;
	width: 214px;
	left: 992px;
	top: 0px;
	background-color: red;
}

#slide_8 .btn_2 {
	height: 40px;
	width: 318px;
	left: 880px;
	top: 140px;
}

#slide_8 .btn_3 {
	height: 121px;
	width: 99px;
	left: 83px;
	top: 140px;
}

#slide_9 .wrapper {
	background-image: url(../img/brochure/slide_9.jpg);
}

#slide_9 .btn_1 {
	height: 40px;
	width: 214px;
	left: 1023px;
	top: 38px;
	background-color: red;
}

#slide_10 .wrapper {
	background-image: url(../img/brochure/slide_10.jpg);
}

#slide_10 .btn_1 {
	height: 50px;
	width: 291px;
	left: 323px;
	top: 637px;
}

#slide_10 .btn_2 {
	height: 50px;
	width: 290px;
	left: 677px;
	top: 589px;
}

#slide_11 .wrapper {
	background-image: url(../img/brochure/slide_11.jpg);
}

#slide_11 .btn_1 {
	height: 82px;
	width: 127px;
	left: 1043px;
	top: 121px;
}

#slide_11 .btn_2 {
	height: 75px;
	width: 100px;
	left: 1052px;
	top: 139px;
}

#slide_11 .btn_3 {
	height: 79px;
	width: 137px;
	left: 1036px;
	top: 165px;
}

#slide_11 .btn_4 {
	height: 78px;
	width: 97px;
	left: 1059px;
	top: 184px;
}

#slide_11 .btn_5 {
	height: 95px;
	width: 268px;
	left: 97px;
	top: 362px;
}

#slide_12 .wrapper {
	background-image: url(../img/brochure/slide_12.jpg);
}

#slide_12 .get_the_gear {
	top: 306px;
	left: 842px;
}

#slide_12 .btn_1 {
	height: 41px;
	width: 367px;
	left: 83px;
	top: 121px;
}

#slide_13 .wrapper {
	background-image: url(../img/brochure/slide_13.jpg);
}

#slide_13 .get_the_gear {
	left: 320px;
	top: 101px;
}

#slide_13 .btn_1 {
	height: 41px;
	width: 330px;
	top: 671px;
	left: 929px;
}

#slide_14 .wrapper {
	background-image: url(../img/brochure/slide_14.jpg);
}

#slide_14 .get_the_gear {
	left: 116px;
	top: 434px;
}

#slide_14 .btn_1 {
	height: 41px;
	width: 330px;
	top: 424px;
	left: 929px;
}

#slide_15 .wrapper {
	background-image: url(../img/brochure/slide_15.jpg);
}

#slide_15 .get_the_gear {
	left: 750px;
	top: 478px;
}

#slide_15 .btn_1 {
	height: 41px;
	width: 330px;
	top: 278px;
	left: 95px;
}

#slide_16 .wrapper {
	background-image: url(../img/brochure/slide_16.jpg);
}

#slide_16 .get_the_gear {
	left: 597px;
	top: 206px;
}

#slide_16 .btn_1 {
	height: 41px;
	width: 361px;
	top: 674px;
	left: 780px;
}

#slide_17 .wrapper {
	background-image: url(../img/brochure/slide_17.jpg);
}

#slide_17 .get_the_gear {
	left: 1018px;
	top: 341px;
}

#slide_17 .btn_1 {
	height: 41px;
	width: 361px;
	top: 183px;
	left: 101px;
}

#slide_18 .wrapper {
	background-image: url(../img/brochure/slide_18.jpg);
}

#slide_18 .get_the_gear {
	left: 239px;
	top: 661px;
}

#slide_18 .btn_1 {
	height: 41px;
	width: 361px;
	top: 270px;
	left: 793px;
}

#slide_19 .wrapper {
	background-image: url(../img/brochure/slide_19.jpg);
}

#slide_20 .wrapper {
	background-image: url(../img/brochure/slide_20.jpg);
}

.brochure_counter {
	height: 38px;
	width: 168px;
	position: absolute;
	left: 14px;
	top: 8px;
	right: 0;
	z-index: 100;
	color: #fff;
	cursor: pointer;
}

.brochure_select_wrapper {
	height: 38px;
	width: 289px;
	position: absolute;
	left: 970px;
	top: 8px;
	right: 0;
	z-index: 100;
	color: #fff;
	cursor: pointer;
	display: none;
}

.brochure_select_women{
	width: 155px;
	float: left;
}

.brochure_select_men{
	width: 134px;
	float: left;
}

/*
==========================================================================
BROCHURE SECTION END
==========================================================================
*/

.dat_modals {
	display: none;
	overflow: auto;
	overflow-y: scroll;
	position: fixed;
	top: -56px;
	right: 0;
	bottom: 0;
	left: -288px;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

#front_page_brochure_button {
	text-align: center;
	padding-top: 30px;
}

/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  transition: all 0.2s;
  touch-action: manipulation;

}

input[type=checkbox].css-checkbox {
	  position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	height:18px; 
	display:inline-block;
	line-height:22px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
	font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
  	font-weight: normal;
  	text-transform: uppercase;
  	padding: 0 0 0 23px;
    margin: 25px -250px 30px 152px;
    width: 300px;
    transform: scale(2);
  	/* Webkit browsers*/
  -webkit-transform: scale(2);
  background-image:url(../img/lite-x-gray.png);
  color: black;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -18px;
	transform: scale(2);
  /* Webkit browsers*/
  -webkit-transform: scale(2);
}

/*specific classes related to Checkbox skins*/

.lite-x-gray{background-image:url(../img/lite-x-gray.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
	padding-left:22px;
    height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
	transform: scale(2);
  /* Webkit browsers*/
  -webkit-transform: scale(2);
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
	padding-left:22px;
    height:16px; 
	display:inline-block;
	line-height:16px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}

input[type=radio].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=radio].css-checkbox + label.css-label {
							padding-left:33px;
							height:28px; 
							display:inline-block;
							line-height:28px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:28px;
							vertical-align:middle;
							cursor:pointer;
							color: black;
  							text-transform: uppercase;
						}

						input[type=radio].css-checkbox:checked + label.css-label {
							background-position: 0 -28px;
						}
						label.css-label {
				background-image:url(../img/checkbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

/* effects on fields */
/**
* Make the field a flex-container, reverse the order so label is on top.
*/
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
 font-size: 0.75em;
 color: #007eff;
 top: -2.25rem;
 -webkit-transition: all 0.125s ease;
 transition: all 0.125s ease;
}

.styled-input {
  float: left;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 24px;
  font-family: 'Qkrakjpsolxwviuvtyxvpzwixyf', Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;

}

.styled-input.wide { width: 100%; }

input,
textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}

input ~ span,
textarea ~ span {
  display: block;
  width: 0;
  height: 3px;
  background: #8e44ad;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.125s ease;
  transition: all 0.125s ease;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}


p.text-danger.dob, p.text-danger.email, p.text-danger.mobile, p.text-danger.surname, p.text-danger.name, p.text-danger.gender,
p.text-danger.region, p.text-danger.password, p.text-danger.password-confirm, p.text-danger.emailmobile, p.text-danger.card_manual {
	color: #007eff !important; 
	font-size: 18px !important;
	text-align: left !important;
	margin: 5px 0 !important;
}

/*body, html{
	height: 100%;
}*/

#shop-wrapper {
	height: 800px;
	width: 100%;
	padding: 0;
	border: 0;
	background-color: #fff;
}

#shop-wrapper iframe {
	height: 100%;
	width: 100%;
}
